Invalid data is entered in the "Email" field on the login page

**Environment**:
**Device**: iPhone 7
**OS**: IOS 11.3

**Steps to Reproduce**:

1. Open application
2. Open login page
3. In the field "E-mail" enter the symbols of the keyboard emoji

**Actual result**: Invalid data is entered in the "Email" field on the login page
**Expected Result**: The field  "E-mail" must contain alphabetic, numeric and these characters :! # $% '* + - / =? ^ _ `{|} ~ (RFC 2822, section 3.4.1)
![image1](https://user-images.githubusercontent.com/38539831/39400626-a3006418-4b3c-11e8-91b9-bf67ea0bb906.png)
